<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.barcode.uniplo.domain.UserDto"/>
        <typeAlias alias="PostDto" type="com.barcode.uniplo.domain.PostDto"/>
        <typeAlias alias="SearchCondition" type="com.barcode.uniplo.domain.SearchCondition"/>
        <typeAlias alias="CartDto" type="com.barcode.uniplo.domain.CartDto"/>
        <typeAlias alias="OrderDto" type="com.barcode.uniplo.domain.OrderDto"/>
        <typeAlias type="com.barcode.uniplo.domain.OrderProductDto" alias="OrderProductDto"/>
        <typeAlias alias="CommentDto" type="com.barcode.uniplo.domain.CommentDto"/>
    </typeAliases>
</configuration>